@import './dimens.scss';
@import './reset';
@import './colors.scss';

.text-line-2{
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
